.header {
    height: 100px;
    background-color: white;
    padding-top: 50px;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}
.footer {
    height: 120px;
    position: relative;
    background-color: #185d70;
    width: 100%;
    width: 800px;
    display: flex;
    align-items: flex-end;
    color: #fff;
    display: flex;
    align-items: center;
}

.text__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #264a30;
    position: fixed;
    width: 800px;
    margin: auto;
    z-index: 2;
}

.text {
    color: black;
    font-size: 20px;
    padding: 2px 5px;
    background-color: white;
    border-radius: 6px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.text:hover {
    background-color: gray;
    color: white;
}

.first__name {
    font-size: 40px;
    width: 150px;
}

.name {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    margin-left: 30px;;
}

.second__name {
    width: 150px;
    text-align: center;
}

.window {
    width: 400px;
    height: 550px;
    background-color: #fff;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
}

 input{
    background-color: white;
    height: 40px;
    width: 350px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 9px;
    border: gray solid 2px;
    align-items: center;
    padding-left: 10px;
    color: gray;

}

.window__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.window__text {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

button {
    display: flex;
    color: #fff;
    padding: 20px;
    background-color: #0495bd;
    border: none;
    border-radius: 5px;

}

button:hover {
    background-color: #013a4a;
}

.image img {
    height: 610px;
    width: 800px;
    border-radius: 10px;
    width: 100%;
}

.image {
    height: 610px;
}

.contacts {
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactBlock {
    display: flex;
    height: 170px;
    background-color: #ededed;
    margin-bottom: 30px;
    align-items: center ;
    border-radius: 10px;
}

.firstAvatar img{
    height: 128px;
    width: 128px;
    margin-left: 30px;
    margin-right: 30px;
}

.secondAvatar img{
    height: 128px;
    width: 128px;
    margin-left: 30px;
    flex-direction: row-reverse;
    margin-right: 30px;
}

.secondContactBlock {
    display: flex;
    height: 170px;
    background-color: #ededed;
    margin-bottom: 30px;
    align-items: center ;
    flex-direction: row-reverse;
    border-radius: 10px;
}

.firstAvatar {
    display: flex;
}

.secondAvatar {
    display: flex;
    flex-direction: row-reverse;
}
  
.blockText {
    font-size: 19px;
}

.secondBlockText {
    font-size: 19px;
    margin-left: 20px;
}

.adress {
    width: 300px;
    height: 90px;
    margin-left: 30px;
}

.contact {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-right: 30px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
}

.pictures img {
    width: 267px;
    height: 170px;
}

.picturesWrap {
    border-radius: 10px;
    margin-bottom: 30px;
}

@media (max-width: 900px){
    .header {
        width: 100%;
    }
    .image img {
        width: 100%;
        border-radius: 0;
    }

    .text__container {
        width: 390px;
    }

    .contacts {
        width: 100%;
        height: 1000px;
    }

    .footer {
        display: flex;
        width: 100%;
        bottom: 0;
        position: relative;
        height: 150px;
    }

    .adress {
        height: 110px;
    }

    .pictures {
        grid-template-columns: 1fr 1fr;
        width: 390px;
    }

    .pictures .house1 {
        height: 125px;
        width: 200px;
        background-size: cover;
    }

    .pictures .house2 {
        height: 125px;
        width: 200px;
        background-size: cover;
    }


    .pictures .house3 {
        height: 125px;
        width: 200px;
        background-size: cover;
    }


    .pictures .house4 {
        height: 125px;
        width: 200px;
        background-size: cover;
    }


    .pictures .house5 {
        height: 125px;
        width: 200px;
        background-size: cover;
    }


    .pictures .house6 {
        height: 125px;
        width: 200px;
        background-size: cover;
    }


    .contactBlock {
        height: 100%;
        border-radius: 0;
    }

    .secondContactBlock {
        height: 100%;
        border-radius: 0;
    }

    .window {
        width: 330px;
    }

    input {
        width: 250px;
    }



    
}


.userName {
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: 600;
}

.house1 {
    width: 267px;
    height: 170px;
    background-image: url('https://st.hzcdn.com/simgs/pictures/exteriors/chastnyy-zhiloy-dom-v-gorkah-6-arhitekturnaya-masterskaya-atrium-img~b4b142c7055f0509_4-6702-1-4ffdb0e.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.house2 {
    width: 267px;
    height: 170px;
    background-image: url('https://ruplans.ru/cms_files/98/184/6105/vid1.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.house3 {
    width: 267px;
    height: 170px;
    background-image: url('https://content.cdn-cian.ru/realty/journal/330399/house-isolated-in-the-field.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.house4 {
    width: 267px;
    height: 170px;
    background-image: url('https://sdbgp.ru/assets/images/statji/007/001.JPG');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.house5 {
    width: 267px;
    height: 170px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLerdeyGVhAIXsmMTUQnTfsI8vo-UywbIzVw&s');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.house6 {
    width: 267px;
    height: 170px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdEC_P-t5v63i3ukcrD324Hs2PwbErzAel-g&s');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}



.houseText {
    display: flex;
    background-color: gray;
    color: white;
    padding: 4px 6px;
}
 
